{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meteo</title>
        <link rel="stylesheet" href="{% static 'css/meteo_template.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Metereologia</h1>
            <nav>
                <a href="{% url 'meteo:index' %}" class="menu-link">Home</a>
                <a href="{% url 'meteo:prevList' %}" class="menu-link">Outras Cidades</a>
                <a href="{% url 'digitalportfolio:home' %}" class="menu-link">Voltar</a>
            </nav>
        </header>

        <main>
            <div id="content-container">
                {% block content %}
                {% endblock %}
            </div>

        </main>

        <footer>
            <p>Universidade Lusófona - Tomé Roque</p>
        </footer>
    </body>
</html>