<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesses</title>
</head>
<body>

    <header>
        <h1>Interesses em Programação Web</h1>
        <nav>
            <a href="{% url 'pwsite:index' %}">Introducao</a>
            <a href="{% url 'pwsite:sobre' %}">Sobre</a>
            <a href="{% url 'pwsite:interesses' %}">Interesses</a>
        </nav>
    </header>

    <main>
      <h2>Django</h2>
      <p>De facto, django é uma linguagem bastante útil pois é esta que é usada para criação de websites dinâmicos. Para além disso, é também a linguagem utilizada para criação de aplicações web.</p>

      <h2>Aplicações web</h2>
      <p>Este ponto é bastante relevante. Muita importância é dada a aplicações Android e iOS nos dias de hoje, mas muita gente se esquece que há um tipo de aplicação que funciona tanto para ambas, como ainda para PC, sendo mais abrangente ainda.</p>

    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>